.diapo{
    cursor : pointer;
    transform: scale(0.8);
    transition: transform 600ms;  
    margin-bottom: 30% ;

}

.diapo:hover{
    transform: scale(0.85);
}
.diapo h2{
    text-shadow: 5px 5px 5px black;
    color:rgb(245, 245, 245);
}


.img-diapo {
    box-sizing: content-box;
    width: 100%;
  
}


/*
@media screen and (max-height: 800px){
    .img-diapo{
        width: 90%;
        height: 90%;
    }
}*/